[trainer]
rollouts_per_example = 16
groups_per_batch = 64
loss_fn = "importance_sampling"
save_every = 10
eval_every = 200
total_batches = 50000
stream_minibatches = 8

  [trainer.args]
  max_new_tokens = 8192

[model]
base_model = "Qwen/Qwen3-30B-A3B"
renderer_name = "qwen3_disable_thinking"

[tinker]
api_key_env = "TINKER_API_KEY"

[[envs]]
name = "ghost_trace"
id = "./environments/ghost_trace"
weight = 0.30

[[envs]]
name = "gradient_prophet"
id = "./environments/gradient_prophet"
weight = 0.20

[[envs]]
name = "self_prediction"
id = "./environments/self_prediction"
weight = 0.23

[[envs]]
name = "entropy_intuition"
id = "./environments/entropy_intuition"
weight = 0.24
args = { num_examples = 2000 }

[[envs]]
name = "gradient_intuition"
id = "./environments/gradient_intuition"
weight = 0.0
args = { inner_env_id = "./environments/ghost_trace", alpha = 0.35, shadow_rank = 8, shadow_learning_rate = 1e-4 }

[[envs]]
name = "eval_math_static"
id = "./evals/eval_math_static"
weight = 0.0

[[envs]]
name = "eval_ghost_static"
id = "./evals/eval_ghost_static"
weight = 0.0

[[envs]]
name = "eval_sanity_check"
id = "./evals/eval_sanity_check"
weight = 0.0

[[envs]]
name = "eval_calibration_static"
id = "./evals/eval_calibration_static"
weight = 0.0

[[envs]]
name = "eval_scheming"
id = "./evals/deception"
weight = 0.0
